.page-top {
  margin: 0;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
}

.move-page-top {
  display: block;
  background: #BBBBBB;
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:hover {
    opacity: 0.85;
  }
}